#details {
  position:absolute;
  width:300px;
  top:20px;
  right:20px;
  z-index: 1;
}

#details p.lead {
  display: none;
}

.tooltip {
	position: absolute;
	width: 170px;
	height: auto;
	padding: 10px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

.tooltip.hidden {
	display: none;
}

.tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
}

.axis {
  font-size: 13px;
}
.axis path {
  fill: none;
  stroke: #999;
  stroke-width: 2;
}
.domain, .tick line {
  stroke: gray;
  stroke-width: 1;
}

.distribution-Statistics2 text {
  /*display: none;*/
}
.top10 ul {
  list-style-type: decimal;
}
.map {
  display: inline-block;
}
.right {
  display: inline-block;
}

.nav {
  font-size: 0;
}
.navCont {
  // text-align: center;
  font-size: 0;
  > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    &:hover {
      > a {
        color: #ec429a;
      }
      ul {
        display: block;
      }
    }
    ul {
      position: absolute;
      width: 100%;
      background: #f2f2f2;
      // display: none;
      z-index: 9;
      li {
        &:hover {
          a {
            color: #ec429a;
          }
        }
      }
    }
  }
  a {
    padding: 10px 30px;
    color: #000;
  }
}